{% extends 'base.vue' %}

{% block globalfunctions %}

{% endblock globalfunctions %}

  {% block vuescript %}
  data: {
    vueTestData: "Click on element to edit",
    posts: [],
    edits: {},
    newPost: {title:'',body:'',edit:false},
  },
  async mounted(){
    this.initialize();
  },
  methods: {
    async initialize(){
      console.log('initializing');
      this.getList();
      this.initializePost();
    },
    
    initializePost(){
      this.newPost={title:'',body:'',edit:false};
    },

    async getList(){
      let { data:posts } = await this.$http.get('/api/list/');
      this.posts = posts;
      edits = {};
      posts.forEach(o=>edits[parseInt(o.id)] = {title:false,body:false,edited:false});
      this.edits=edits;
    },

    async deletePost(post){
      console.log(post);
      const { id } = post;
      let { data } = await this.$http.delete(`/api/delete/${id}/`);
      this.getList();
    },

    async publish(post){
      const { id, published } = post;
      const { data } = published === null ? await this.$http.put(`/api/publish/${id}/`,{...post}) : await this.$http.put(`/api/update/${id}/`,{...post,published:null});
      this.getList();
    },

    async save(post){
      console.log('modifying');
      const { id } = post;
      await this.$http.put(`/api/update/${id}/`,{ ...post });
      this.getList();
    },

    async addPost(){
      console.log('posting');
      let cansubmit;
      let first = true;
      document.querySelectorAll('.editform input,.editform textarea').forEach(e => { 
        if(!first && !cansubmit){return}
        first=false;
        const valid = e.reportValidity();
        cansubmit = typeof cansbmit ==='undefined'? valid: cansubmit && valid;
      });
      if(!cansubmit){return}
      await this.$http.post('/api/create/',this.newPost);
      this.initializePost();
      this.getList();
    },

    async createPost(){
      this.initializePost();
      this.newPost.edit = true;
    },

    edit(post){
      this.edits[post.id] = {title:true,body:true};
    },

    edited(post,type){
      this.edits[post.id].edited = true;
      this.edits[post.id][type] = !this.edits[post.id][type];
    }
  }
  {% endblock vuescript %}