{% extends 'base.html' %}

{% block content %}
<h1>Vue Code In File Below</h1>
<div id="{{ vue_element }}">
	<h2>[[ vueTestData ]]</h2>

	<div class="container">
		<div class="row">
			<template v-if="!newPost.edit">
				<div class="col"></div>
				<div class="col">
					<button type="button" class="btn btn-success" @click="createPost()" v-show="!newPost.edit">+ Add Post</button>
				</div>
			</template>
			<template v-else>
				<div class="col editform">
					<input placeholder="title" v-model="newPost.title" type="text" required />
					<br/>
					<textarea placeholder="body" v-model="newPost.body" required >
					</textarea>
					<br/>	
				</div>
				<div class="col">
					<button type="button" class="btn btn-success" @click="addPost()">Save New Post</button>
					<button type="button" class="btn btn-warning" @click="initializePost()">Cancel</button>	
				</div>
			</template>
		</div>
		<div class="row" v-for="post in posts">
			<div class="col">
				<input @change="edited(post,'title')" v-model="post.title" type="text" required v-if="edits[post.id].title" />
				<h3 @click="edits[post.id].title=!edits[post.id].title;" v-else>
					[[ post.title ]]
				</h3>
	
				<br/>
				<template v-if="edits[post.id].body">
					<textarea @change="edited(post,'body')" required v-model="post.body" >
					</textarea>
					<br/>	
				</template>
				<p @click="edits[post.id].body=!edits[post.id].body;" v-else>
					[[ post.body ]]
				</p>
			</div>
			<div class="col">
				<button type="button" class="btn btn-light" @click="edit(post)">Edit</button>
				<button type="button" class="btn btn-success" @click="save(post)" v-show="edits[post.id].edited">Save</button>
				<button type="button" class="btn btn-warning" @click="publish(post)">[[ post.published === null? 'Publish':'UnPublish' ]]</button>
				<button type="button" class="btn btn-danger" @click="deletePost(post)">Delete</button>	
			</div>

		</div>
	</div>
	
</div>
<script>
	{% include 'blog/blog.vue' %}
</script>
{% endblock content %}