{% comment %}
MUST SET vue_element CONTEXT VARIABLE
The context vue_element names the element in the html. Any vue code should extend this to be dry
{% endcomment %}

{% block globalfunctions %}
{% endblock globalfunctions %}


function getCookie(name) {
  let cookieValue = null;
  if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
          }
      }
  }
  return cookieValue;
}
const csrftoken = getCookie('csrftoken');
const $http = axios.create({
  headers: {
    common: {
      'X-CSRFToken': csrftoken
    }
  }
})
Vue.prototype.$http = $http;

const app = new Vue({
  delimiters: ['[[', ']]'],
  el: '#{{ vue_element }}',
  {% block vuescript %}
  {% endblock vuescript %}
})

